html
    head
        title Se ha realizado tu compra
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        div.container.center-align
            div.row
                div.col.s12.m4.push-m4
                    h4 Tu compra se ha realizado con exito
                    img.responsive-img(src='http://www.clker.com/cliparts/y/f/Q/i/Z/l/check-mark-hi.png')
