.nav-item {
    background-color: rgb(0, 42, 94);
    height: auto;
}

.nav-item img {
    margin-left: 1em;
}

.nav-icons i {
    font-size: 3em;
    color: white;
    margin-right: 1em;
    margin-top: 0.5em;
}

.nav-icons i:hover {
    font-size: 4em;
    opacity: 0.5;
}

#search {
    background-color: aliceblue;
    margin-left: 2em;
}

.btn-go {
    margin-top: -0.5em;
}

.top-item {
    background-image: url("images/school.jpg");
    width: 100%;
    height: 40em;
}

.fixed-margin {
    margin-bottom: 0;
}

.btn-sale {
    background-color: #FF4B44;
    margin-top: 5em;
}

#recomended-products {
    margin-top: 5em;
}

#more i {
    color: #c62828;
    margin-left: 1.4em;
}

.polular h4 {
    padding-top: 4em;
}

.borde i {
    padding-left: 1em;
}

.border i:hover {
    background-color: rgb(233, 233, 70);
    border-radius: 50%;
}

.end-page {
    background-color: #c62828;
    width: 100%;
    height: 5em;
}

#cart {
    width: 100%;
    height: 10em;
    border: 1 px solid black;
}